@use '../../../../styles/variables.module' as vars;
@import '../../../../styles/mixins.module.scss';

.menu,
.closeMenuIcon:before {
	@include AbsoluteElement;
}

.menu {
	@include CenteredFlex;
	background-color: black;
	overflow: hidden;
	z-index: 3;
	height: 100vh;
	color: white;
	justify-content: flex-start;
	padding-left: 70px;

	& > div {
		cursor: pointer;
		position: absolute;
		top: 20px;
		left: 15vw;
		width: 50px;
		height: 50px;
		transition: transform 0.4s ease;

		&:hover {
			transform: rotate(90deg);
		}

		.closeMenuIcon {
			position: absolute;
			background-color: white;
			top: 25px;
			width: 35px;
			height: 4px;
			transform: rotate(45deg);
			transition: transform 0.4s ease;

			&:before {
				content: '';
				width: 100%;
				height: 4px;
				background-color: white;
				transform: rotate(90deg);
			}
		}
	}

	ul {
		display: flex;
		flex-direction: column;
		list-style: none;
		font-size: 24px;
		line-height: 29px;
		cursor: default;
	}

	li {
		width: fit-content;
		margin-bottom: 50px;
		position: relative;
		transition: transform 0.5s ease, color 0.5s ease;

		& > div {
			font-size: 4px;
			font-weight: normal;
			position: absolute;
			top: 10px;
			left: 5px;
			color: grey;
			transition: transform 0.5s ease, color 0.5s ease;
		}

		&:not(:last-child):hover {
			transform: translateY(-7px) rotate(-5deg);
			color: vars.$first-button-color;

			& > div {
				transform: translate(60px, 7px) scale(3) rotate(5deg);
				color: white;
			}
		}

		&:last-child {
			margin-top: 70px;
			background-image: linear-gradient(to right, #6253e1, #852d91, #a3a1ff);
			background-clip: text;
			-webkit-background-clip: text;
			transition: color 0.5s ease;

			&:hover {
				color: transparent;
			}
		}
	}
}

@media only screen and (min-width: 1201px) {
	.menu {
		width: 20vw;
		left: -400px;
	}
}

@media only screen and (min-width: 769px) and (max-width: 1200px) {
	.menu {
		width: 40vw;
		left: -600px;

		& > div {
			left: 30vw
		}
	}
}

@media only screen and (min-width: 501px) and (max-width: 768px) {
	.menu {
		width: 60vw;
		left: -600px;

		& > div {
			left: 45vw
		}
	}
}

@media only screen and (min-width: 365px) and (max-width: 500px) {
	.menu {
		width: 100vw;
		left: -600px;
		padding-left: 0;

		& > div {
			left: 80vw
		}

		ul {
			width: 100%;
			align-items: center;
			justify-content: center;
		}
	}
}
